.container-about {
  display: flex;
  margin: auto;
  width: 90%;
  margin-top: 5%;
  content: '';
  clear: both;
  min-height: 80vh;
  font-size: calc(10px + 2vmin);
}

.label {
  font-weight: 700;
  font-size: 18px;
}

.imageAbout {
  border-radius: 10px;
  height: 350px;
}

.value {
  font-size: 16px;
}

@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  [class*='col-'] {
    width: 100%;
  }
  .container-about {
    display: block;
  }
  .imageAbout {
    height: 200px;
  }
}
