.container-about {
  display: flex;
  margin: auto;
  width: 90%;
  margin-top: 5%;
  content: '';
  clear: both;
  min-height: 80vh;
}

.label {
  font-weight: 700;
}

.imageAbout {
  border-radius: 10px;
}

@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  [class*='col-'] {
    width: 100%;
  }
  .container-about {
    display: block;
  }
}
