.up-file-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.background-upload {
  background-color: #f6f6f6;
  padding: 10px 20px;
  border-radius: 7px;
  margin: 7px 0px;
}

.txt-introduce {
  font-size: 13px;
  color: #1b1a1a;
}

.img-school-up-file {
  border-radius: 10px;
  margin: 20px 0;
}

.input-upload {
  border-radius: 7px;
}
.box-upload {
  /* height: 150px; */
  /* justify-content: center; */
  overflow-x: hidden;
}
.banner {
  width: 400px;
}

.box-btn-submit-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
  
}

.btn-submit-upload:hover {
  border-color: #5c9ee0;
  border-style: 1px;
  border-radius: 7px;
  color: #ffffff;
  background-color: #69bbe0;
}

.btn-submit-upload { 
  width: 200px;
  height: 32px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  border: 2px solid #8fc7e7;
  border-radius: 7px;
  background-color: #8fc7e7 ;
  color: rgb(80, 79, 79);
  font-weight: 800;
  /* display: inline-block; */
}

@media only screen and (max-width: 568px) {
  /* For mobile phones: */
  [class*='col-'] {
    width: 100%;
  }
  .up-file-container {
      margin: 20px 20px;
  }
  .banner {
    width: 300px;
  }
}