.up-file-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.background-upload {
  background-color: #f6f6f6;
  padding: 10px 20px;
  border-radius: 7px;
  margin: 7px 0px;
}

.txt-introduce {
  font-size: 13px;
  color: #1b1a1a;
}

.img-school-up-file {
  border-radius: 10px;
  margin: 20px 0;
}

.input-upload {
  border-radius: 7px;
}
.box-upload {
  /* height: 150px; */
  /* justify-content: center; */
  overflow-x: hidden;
}
.banner {
  width: 400px;
}

@media only screen and (max-width: 568px) {
  /* For mobile phones: */
  [class*='col-'] {
    width: 100%;
  }
  .up-file-container {
      margin: 20px 20px;
  }
  .banner {
    width: 300px;
  }
}