.time-table-container {
   /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  }

.time-table {
    border-width: 1px;
}

table, th, td {
    border: 1px solid black;
    color: #000;
}

.cell-note {
    position: relative;
}

.cell-note:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    border-left: 7px solid transparent;
    border-top: 7px solid red;
}