.container-welcome {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.box-welcome {
  width: 90%;
  height: 80%;
  padding-top: 40px;
  position: absolute;
  background: url('https://st.quantrimang.com/photos/image/2017/11/07/anh-dep-viet-nam-25.jpg') top center / cover no-repeat;
  /* top: 50; */
  border-radius: 5px;
}

.welcome {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

.name {
  text-align: center;
}
